.app__navbar {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .app__navbar-head {
    width: 97%;
    color: var(--lightBrown-color);
    background-color: var(--darkBrown-color);
    border-radius: 40px;
  }

  .app__navbar-platforms {
    width: 97%;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;

    .app__navbar-platform {
      flex: 0.14;
      padding: 0.2rem;
      border-radius: 14px;
      background-color: var(--white-color);

      &:hover, &.active {
        color: var(--lightBrown-color);
        background-color: var(--darkBrown-color);
      }
    }

    a {
      text-decoration: none;
      color: var(--text-color);
      font-family: var(--primary-font);
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
}